<input
  [type]="type"
  [formControl]="control"
  class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
  [placeholder]="placeHolder"
  [mask]="format"
/>
<ng-container *ngIf="control.touched">
  <p *ngIf="control.errors?.['required']" class="text-red-600 text-sm">
    Field is required
  </p>
  <p *ngIf="control.errors?.['minlength']" class="text-red-600 text-sm">
    The value you inputted is
    {{control.errors?.['minlength']?.actualLength}}
    characters long. The minimum required length is
    {{control.errors?.['minlength']?.requiredLength}}
    characters.
  </p>
  <p *ngIf="control.errors?.['email']" class="text-red-600 text-sm">
    Please enter a valid email address
  </p>
  <p *ngIf="control.errors?.['min']" class="text-red-600 text-sm">
    The value you inputted is
    {{control.errors?.['min']?.actual}}
    . The minimum required value is
    {{control.errors?.['min']?.required}}
    .
  </p>
  <p *ngIf="control.errors?.['max']" class="text-red-600 text-sm">
    The value you inputted is
    {{control.errors?.['max']?.actual}}
    . The maximum required value is
    {{control.errors?.['max']?.required}}
    .
  </p>
  <p *ngIf="control.errors?.['pattern']" class="text-red-600 text-sm">
    The password Should be valid.
  </p></ng-container
>
